<div class="login">
  <div class="container">
    <h1 class="login__title text-center">Sign In</h1>
    <div class="login__form-holder">
      <div class="login__img"></div>
      <form class="login__form" [formGroup]="loginForm">
        <label class="form-group">
          <span class="form-label">Email <small class="require-flag">*</small></span>
          <input type="email"
                 class="form-control"
                 formControlName="email">
          <span class="invalid-message">Email field is required and must be valid</span>
        </label>
        <label class="form-group">
          <span class="form-label">Password <small class="require-flag">*</small></span>
          <input type="password"
                 class="form-control"
                 formControlName="password">
          <span class="invalid-message">This field is required</span>
        </label>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="loginForm.invalid"
                (click)="submit()">Sing In</button>
      </form>
    </div>
  </div>
  <div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <div class="loading-spinner-overlay"></div>
  </div>
</div>

