<div class="content-block">
  <section class="p-5 ui-kit">
    <div class="container-fluid">
      <h3 class="mb-4">Buttons</h3>
      <div class="row">
        <div class="col-md-6 ui-kit__buttons">
          <div class="mb-4">
            <button disabled mat-button class="">Button</button>
            <button disabled mat-flat-button color="primary" class="">Button flat</button>
            <button disabled mat-stroked-button color="primary" class="">Button stroked</button>
            <button disabled mat-stroked-button>Button stroked</button>
          </div>

          <div class="mb-4">
            <button mat-button class="">Button</button>
            <button mat-flat-button color="primary" class="">Button flat</button>
            <button mat-stroked-button color="primary" class="">Button stroked</button>
            <button mat-stroked-button>Button stroked</button>
          </div>

          <div class="mb-4">
            <a href="#" mat-button class="">Link</a>
            <a href="#" mat-flat-button color="primary" class="">Link flat</a>
            <a href="#" mat-stroked-button color="primary" class="">Link stroked</a>
            <a href="#" mat-stroked-button>Link stroked</a>
          </div>

          <div class="mb-4">
            <button mat-button class="btn-small">Button</button>
            <button mat-flat-button color="primary" class="btn-small">Button flat</button>
            <button mat-stroked-button color="primary" class="btn-small">Button stroked</button>
            <button mat-stroked-button class="btn-small">Button stroked</button>
          </div>
        </div>

        <div class="col-md-6 ui-kit__buttons">
          <div class="mb-4">
            <button mat-button class="btn-block">Button</button>
            <button mat-flat-button color="primary" class="btn-block">Button flat</button>
            <button mat-stroked-button color="primary" class="btn-block">Button stroked</button>
            <button mat-stroked-button class="btn-block">Button stroked</button>
          </div>
        </div>

        <div class="col-md-6">
          <hr>

          <div class="ui-kit__buttons mb-4">
            <button disabled mat-button class="btn-icon">
              <svg-icon src="assets/images/svg/icons/print.svg"
                        [svgStyle]="{'width.%': 80, 'height.%': 80, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon">
              <svg-icon src="assets/images/svg/icons/print.svg"
                        [svgStyle]="{'width.%': 80, 'height.%': 80, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon btn-icon--s">
              <svg-icon src="assets/images/svg/icons/print.svg"
                        [svgStyle]="{'width.%': 80, 'height.%': 80, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon btn-icon--xs">
              <svg-icon src="assets/images/svg/icons/print.svg"
                        [svgStyle]="{'width.%': 80, 'height.%': 80, 'fill': 'currentColor'}"></svg-icon>
            </button>
          </div>

          <div class="ui-kit__buttons mb-4">
            <button disabled mat-button class="btn-icon">
              <svg-icon src="assets/images/svg/icons/close-icon.svg"
                        [svgStyle]="{'width.%': 100, 'height.%': 100, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon">
              <svg-icon src="assets/images/svg/icons/close-icon.svg"
                        [svgStyle]="{'width.%': 100, 'height.%': 100, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon btn-icon--s">
              <svg-icon src="assets/images/svg/icons/close-icon.svg"
                        [svgStyle]="{'width.%': 100, 'height.%': 100, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon btn-icon--xs">
              <svg-icon src="assets/images/svg/icons/close-icon.svg"
                        [svgStyle]="{'width.%': 100, 'height.%': 100, 'fill': 'currentColor'}"></svg-icon>
            </button>
          </div>

          <div class="ui-kit__buttons mb-4">
            <button disabled mat-button class="btn-icon">
              <svg-icon src="assets/images/svg/icons/edit-icon.svg"
                        [svgStyle]="{'width.%': 90, 'height.%': 90, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon">
              <svg-icon src="assets/images/svg/icons/edit-icon.svg"
                        [svgStyle]="{'width.%': 90, 'height.%': 90, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon btn-icon--s">
              <svg-icon src="assets/images/svg/icons/edit-icon.svg"
                        [svgStyle]="{'width.%': 90, 'height.%': 90, 'fill': 'currentColor'}"></svg-icon>
            </button>
            <button mat-button class="btn-icon btn-icon--xs">
              <svg-icon src="assets/images/svg/icons/edit-icon.svg"
                        [svgStyle]="{'width.%': 90, 'height.%': 90, 'fill': 'currentColor'}"></svg-icon>
            </button>
          </div>
          <div class="ui-kit__buttons mb-4">
            <button mat-stroked-button class="btn btn-with-icon">
              <svg-icon src="assets/images/svg/icons/edit-icon.svg"
                        [svgStyle]="{'width.%': 90, 'height.%': 90, 'fill': 'currentColor'}"></svg-icon>
            </button>
          </div>

        </div>
        <div class="col-md-12">
          <hr>

          <div class="row">
            <div class="col-md-6">
              <div class="calendar-nav">
                <button mat-stroked-button
                        class="btn-round">
                  <svg-icon src="assets/images/svg/icons/chevron-left.svg"
                            [svgStyle]="{'width.rem': 1.4, 'height.rem': 1.4, 'margin-top.px': -3, 'margin-left.px': -2}"></svg-icon>
                </button>
                <span class="calendar-nav__title">Lorem ipsum dolor.</span>
                <button mat-stroked-button
                        class="btn-round">
                  <svg-icon src="assets/images/svg/icons/chevron-right.svg"
                            [svgStyle]="{'width.rem': 1.4, 'height.rem': 1.4, 'margin-top.px': -3, 'margin-left.px': 2}"></svg-icon>
                </button>
              </div>
            </div>

            <div class="col-md-6">
              <app-user-row [user]="testUser"></app-user-row>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="p-5 ui-kit">
    <div class="container-fluid">
      <h3 class="mb-4">Form controls</h3>
      <div class="row">
        <div class="col-lg-4">
          <label class="form-group">
            <span class="form-label">Label text</span>
            <mat-form-field floatLabel="always" appearance="outline">
              <textarea matInput placeholder="Текст"></textarea>
            </mat-form-field>
          </label>

          <label class="form-group">
            <span class="form-label">Label text</span>
            <mat-form-field floatLabel="always" appearance="outline">
              <input matInput type="text">
            </mat-form-field>
          </label>

          <label class="form-group">
            <span class="form-label">Multiple select <small class="require-flag">*</small></span>
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-select
                placeholder="Выберите категорию"
                disableOptionCentering="true"
                panelClass="drop-list"
                multiple>
                <mat-option *ngFor="let category of ageCategories" [value]="category?.id">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </label>

          <label class="form-group">
            <span class="form-label">Select without border</span>
            <mat-form-field floatLabel="always" appearance="outline" class="no-appearance">
              <mat-select
                placeholder="Выберите категорию"
                disableOptionCentering="true"
                panelClass="drop-list">
                <mat-option *ngFor="let category of ageCategories" [value]="category?.id">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </label>

        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <span class="form-label">Дата проведения</span>
            <app-single-datepicker
              [initialDate]="testDate"
              (selectDate)="handleDateStart($event)"></app-single-datepicker>
          </div>
          <div class="form-group">
            <span class="form-label">Выбрать период:</span>
            <div class="dates-range dates-range--hide-icon dates-range--hide-outline">
              <app-single-datepicker [outline]="false" (selectDate)="handleDateStart($event)"></app-single-datepicker>
              <span class="dates-range__divider"> - </span>
              <app-single-datepicker [outline]="false" (selectDate)="handleDateEnd($event)"></app-single-datepicker>
            </div>
          </div>
          <div class="form-group">
            <span class="form-label">Выбрать период:</span>
            <div class="dates-range">
              <app-single-datepicker (selectDate)="handleDateStart($event)"></app-single-datepicker>
              <span class="dates-range__divider"> - </span>
              <app-single-datepicker (selectDate)="handleDateEnd($event)"></app-single-datepicker>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <mat-checkbox [checked]="true">Lorem ipsum dolor sit amet, consectetur</mat-checkbox>
          </div>
          <div class="multiline">
            <mat-checkbox>Lorem ipsum dolor sit amet, consectetur</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5 ui-kit">
    <div class="container-fluid">
      <h3 class="mb-4">Badges</h3>
      <div class="row">
        <div class="col-lg-4">
          <div class="mb-3 ui-kit__badges-row">
            <span class="colored-badge colored-badge--success"><span class="colored-badge__text">99999999</span></span>
            <span class="colored-badge colored-badge--success"><span class="colored-badge__text">999</span></span>
            <span class="colored-badge colored-badge--success"><span class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--success"></span>
            <span class="colored-badge colored-badge--progress"><span class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--wait"><span class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--default"><span class="colored-badge__text">9</span></span>
          </div>
          <div class="mb-3 ui-kit__badges-row">
            <span class="colored-badge colored-badge--l colored-badge--success"><span class="colored-badge__text">999999999</span></span>
            <span class="colored-badge colored-badge--l colored-badge--success"><span
              class="colored-badge__text">999</span></span>
            <span class="colored-badge colored-badge--l colored-badge--success"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--l colored-badge--success"></span>
            <span class="colored-badge colored-badge--l colored-badge--progress"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--l colored-badge--wait"><span class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--l colored-badge--default"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--l colored-badge--default">
              <svg-icon src="assets/images/svg/icons/red-flag.svg"
                        [svgStyle]="{'width.rem': 1.6, 'height.rem': 1.6}"></svg-icon>
            </span>
          </div>
          <div class="mb-3 ui-kit__badges-row">
            <span class="colored-badge colored-badge--rounded colored-badge--success"><span class="colored-badge__text">99999999</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--success"><span class="colored-badge__text">999</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--success"><span class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--success"></span>
            <span class="colored-badge colored-badge--rounded colored-badge--progress"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--wait"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--default"><span class="colored-badge__text">9</span></span>
          </div>
          <div class="mb-3 ui-kit__badges-row">
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--success"><span
              class="colored-badge__text">999999999</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--success"><span
              class="colored-badge__text">999</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--success"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--success"></span>
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--progress"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--wait"><span
              class="colored-badge__text">9</span></span>
            <span class="colored-badge colored-badge--rounded colored-badge--l colored-badge--default"><span
              class="colored-badge__text">9</span></span>
          </div>
          <div class="mb-3 ui-kit__badges-row">
            <span class="badge-state badge badge-success">Success</span>
            <span class="badge-state badge badge-danger ">Danger</span>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
