:host {
  display: block;
  padding: 30px;
}

.ui-kit {
  &__buttons {
    button, a {
      margin-right: 20px;
    }
  }
  &__badges-row {
    display: flex;
    align-items: center;
  }
}

.calendar-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 3rem;

  &__title {
    padding: 0 1rem;
    font-size: 1.6rem;
  }
}
