<div class="modal-panel">
  <form [formGroup]="form">
    <header class="modal-panel__header mod-header">
      <div class="mod-header__actions">
        <button mat-button class="btn-icon ml-2" (click)="onClose()" tabindex="-1">
          <svg-icon src="assets/images/svg/icons/close-icon.svg"
                    [svgStyle]="{'width.%': 100, 'height.%': 100, 'fill': 'currentColor'}"></svg-icon>
        </button>
      </div>
      <h1 class="mod-header__title">Редактирование комментария</h1>
    </header>
    <section class="modal-panel__body pb-5 pt-4 container-fluid">
      <mts-user-row *ngIf="data.commentData.createdBy"
                    class="mb-3"
                    [user]="data.commentData.createdBy"></mts-user-row>
      <label class="form-group">
        <mat-form-field floatLabel="always" appearance="outline">
          <textarea formControlName="text" matInput placeholder="Текст комментария"></textarea>
        </mat-form-field>
      </label>
    </section>
    <footer class="modal-panel__footer mb-3">
      <button mat-flat-button
              color="primary"
              type="button"
              class="btn-small"
              [disabled]="form.invalid"
              (click)="onSave()">
        Сохранить
      </button>
      <button mat-stroked-button
              color="primary"
              type="button"
              class="btn-small ml-3"
              (click)="onClose()">
        Отмена
      </button>
    </footer>
    <div class="loading-spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
      <div class="loading-spinner-overlay"></div>
    </div>
  </form>
</div>
