<div class="add-form-holder container">
  <mts-add-form-nav [title]="'К списку подразделений'" [link]="'/instruments/list/' + pluralItemsType.SUBDIVISIONS"></mts-add-form-nav>
  <div class="card">
    <div class="card-heading">
      <h4 class="card-title">{{updateMode ? 'Редактировать подразделение' : 'Добавить подразделение'}}</h4>
    </div>
    <div class="card-body">
      <form class="add-form" [formGroup]="subdivisionForm">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label class="form-group">
                <span class="form-label">Название <small class="require-flag">*</small></span>
                <mat-form-field floatLabel="always" appearance="outline">
                  <input formControlName="name" matInput placeholder="" type="text">
                </mat-form-field>
              </label>
            </div>
            <div class="col-md-6">
              <label class="form-group">
                <span class="form-label">Школа <small class="require-flag">*</small></span>
                <mat-form-field floatLabel="always" appearance="outline">
                  <mat-select formControlName="school"
                    disableOptionCentering="true" panelClass="drop-list">
                    <mat-option *ngFor="let school of schools" [value]="school.id">
                      {{school.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </label>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-md-6">-->
              <!--<label class="form-group">-->
                <!--<span class="form-label">Карта достижений <small class="require-flag">*</small></span>-->
                <!--<mat-form-field floatLabel="always" appearance="outline">-->
                  <!--<mat-select formControlName="achievementMap"-->
                    <!--disableOptionCentering="true" panelClass="drop-list">-->
                    <!--<mat-option [value]="1">-->
                      <!--Карта достижений-->
                    <!--</mat-option>-->
                    <!--<mat-option [value]="2">-->
                      <!--Карта достижений-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="form-check">-->
              <!--<mat-checkbox formControlName="achievementMapShow">Показывать карту материалов</mat-checkbox>-->
            <!--</label>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="form-check">-->
              <!--<mat-checkbox formControlName="achievementMapSkillsShow">Показывать карту Материалы-Навыки</mat-checkbox>-->
            <!--</label>-->
          <!--</div>-->
          <div class="buttons-holder">
            <button type="button" mat-flat-button color="primary"
              (click)="submit()"
              [disabled]="subdivisionForm.invalid">{{updateMode ? 'Сохранить' : 'Добавить'}}</button>
         </div>
        </div>
      </form>
    </div>
  </div>
  <div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <div class="loading-spinner-overlay"></div>
  </div>
</div>
