@import "variables";

:host {
  width: 100%;
}

.planning {
  display: flex;
  padding: 1.6rem 0;

  &__content {
    flex-grow: 1;
  }

  &__sidebar {
    flex-basis: 320px;
    max-width: 320px;
    margin-left: 1.6rem;
  }
}
