@import "src/scss/variables";

.lessons-category {
  font-size: 1.4rem;
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 2rem;

  .mat-radio-button {
    display: block;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    ::ng-deep {
      .mat-radio-label-content {
        padding-top: 1px;
      }
    }
  }
}
