.form-group {
  display: block;
  margin-bottom: 2rem;

  .mat-form-field {
    width: 100%;
    font-family: $base-font;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  textarea.mat-input-element {
    min-height: 50px;
  }

  .mat-form-field-appearance-outline {
    &.ng-touched {
      &.ng-invalid {
        .mat-form-field-outline-end,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-start {
          border-color: $danger-color;
        }
      }
    }

    .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;
    }

    .mat-form-field-outline {
      top: 0;
    }

    .mat-form-field-flex {
      margin-top: 0;

      &:hover {
        .mat-select-arrow {
          border-color: $black-color;
        }
      }
    }

    .mat-form-field-infix {
      width: 100%;
      padding: 1rem 0;
      border-top: 0;
    }

    &:not(.no-appearance) {
      .mat-form-field-outline-thick {
        .mat-form-field-outline-end,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-start {
          border-width: 1px;
        }
      }
    }

    &.no-appearance {
      .mat-form-field-flex {
        padding: 0;
      }
      .mat-form-field-outline {
        opacity: 0;
      }
      .mat-form-field-outline-thick {
        .mat-form-field-outline-end,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-start {
          border-width: 0;
        }
      }
    }


    .mat-form-field-suffix {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .mat-datepicker-toggle {
        display: block;
        height: 100%;
        width: 100%;

        .mat-button-wrapper .mat-datepicker-toggle-default-icon {
          width: 2rem;
          height: 2rem;
          margin-right: 11px;
          color: currentColor;
        }
      }

      .mat-icon-button {
        width: 100%!important;
        height: 100%!important;
      }

      .mat-button-focus-overlay,
      .mat-button-ripple{
        display: none;
      }
    }

    .mat-select-arrow-wrapper {
      transform: translateY(-14%);
    }

    &.mat-form-field-can-float.mat-focused {
      .mat-select-arrow {
        border-color: $primary-color;
      }
    }
  }

  .mat-select-arrow {
    width: 8px;
    height: 8px;
    border: 1px solid $label-color;
    border-bottom: none;
    border-right: none;
    transform: rotateZ(-135deg);
    transition: border-color .3s cubic-bezier(.25,.8,.25,1);
  }
}

.dates-range {
  display: flex;
  align-items: center;
  min-width: 28rem;
  max-width: 30rem;

  &__divider {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  &--hide-icon {
    min-width: 23.5rem;
    max-width: 23.5rem;

    .mat-icon-button {
      opacity: 0;
    }
  }

  &--hide-outline {
    min-width: 19rem;
    max-width: 19rem;
  }
}

.drop-list.mat-primary {
  margin-top: -1.4rem;
  max-height: 30rem;

  &:not([class*='mat-elevation-z']) {
    box-shadow: $dropdown-shadow;
  }

  .mat-option {
    color: $label-color;

    &.mat-selected:not(.mat-option-disabled) {
      .mat-option-text {
        color: $text-color;
      }
    }

    &.mat-selected:not(.mat-option-multiple),
    &.mat-active:not(.mat-option-multiple) {
      background-color: transparent;
      &:hover {
        background-color: $light-gray;
      }
    }
    &:hover {
      background-color: $light-gray;
    }
  }

  .mat-option-text {
    color: $text-color;
  }
}

.form-check {
  @include flex-box(row, flex-start, center);
  width: inherit;
  padding: 0;

  .form-label {
    display: inline-block;
    margin: 0 0 0 .8rem;
  }

  input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin: 0;
  }
}

span {
  &.form-group {
    display: inline-block;
  }
}

label {
  cursor: pointer;
  margin-bottom: 0;
}

.form-control {
  height: 4rem;
  font-size: 1.6rem;
  color: $text-color;
  background: $white-color;
  border: 1px solid $border-color-3;
  border-radius: $small-radius;
  padding: 1rem 1.2rem;

  &:hover {
    border-color: $border-color;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
    color: $text-color;
    border-color: $primary-color;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: pink;
  }
}

.form-control,
.mat-form-field {
  &.ng-touched {
    &.ng-invalid {
      border-color: $danger-color;

      & + .invalid-message {
        display: block;
      }
    }
  }

  & + .invalid-message {
    display: none;
  }
}

textarea {
  &.form-control {
    min-height: 60px;
    padding: 1.2rem;
  }
}

.invalid-message {
  display: block;
  font-size: 1.2rem;
  color: $danger-color;
  margin-top: .5rem;
}

.form-label {
  display: block;
  font-size: 1.4rem;
  color: $label-color;
  margin-bottom: .7rem;
}

.add-form {
  &-holder {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 3rem;
    position: relative;

    .card {
      flex-grow: 1;

      &-title {
        margin-bottom: 0;
      }
    }
  }

  &-nav {
    border-bottom: 1px solid $border-color-2;
    padding: 2rem 0;
    margin-bottom: 2rem;

    .btn-with-icon {
      //width: 19rem;
    }
  }

  .buttons-holder {
    justify-content: flex-end;
    padding: 1.5rem 0;
    margin: 0;
  }
}

.mat-checkbox-layout {
  .mat-checkbox-inner-container {
    width: 14px;
    height: 14px;
  }
  .mat-checkbox-frame {
    border-color: $border-color;
    border-width: 1px;
  }

  .mat-checkbox-label {
    font-size: 1.3rem;
  }
}


.multiline {
  max-width: 140px;

  .mat-checkbox-layout {
    align-items: flex-start;
    white-space: normal;

    .mat-checkbox-inner-container {
      margin-top: .1rem;
    }

    .mat-checkbox-label {
      line-height: 1.2;
    }
  }
}
