@import 'variables';

@mixin flex-box($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin media-max-screen($screen-size) {
  @media screen and (max-width: $screen-size) { @content; }
}

@mixin media-min-screen($screen-size) {
  @media screen and (min-width: $screen-size) { @content; }
}

@mixin media-max-height-screen($screen-size) {
  @media screen and (max-height: $screen-size) { @content; }
}

@mixin media-min-height-screen($screen-size) {
  @media screen and (min-height: $screen-size) { @content; }
}

@mixin background-cover($color) {
  background-color: $color or $white-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin translate-to-center() {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

@mixin transition($prop: '', $time: '.2s') {
  transition: #{$prop} #{$time} ease-in-out;
}
